/* https://areajugones.sport.es/cine/vengadores-endgame-14-curiosidades-y-referencias-a-los-comics-que-no-sabias/ */
/* GLOBAL STYLING */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6b717e;
  font-weight: 600;
}

a:hover {
  color: black;
  font-weight: 900;
}

/* NAV */
.nav_container {
  padding: 5px 15px;
  background-color: #efaac450;
  border-bottom: 1px solid #6b717e;
}

.nav_content {
  max-width: 80%;
  margin: 0 auto;
  padding: 2px 0px;
  list-style: none;
  font-size: 1.3em;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-evenly;
}

.nav_items {
  height: 2px;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

/* HERO */
.hero_container {
  width: 100%;
  padding: 0 50px;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  text-align: center;
}

.hero_text1 {
  font-size: 2rem;
  margin: 20px;
}

.hero_text2 {
  font-size: 1.2em;
  margin: 10px;
}

.hero_img {
  width: 100%;
}
